@import "tailwindcss";
@plugin "daisyui";


@tailwind base;
@tailwind components;
@tailwind utilities;



.react-datepicker__day--disabled-tooltip {
  cursor: not-allowed;
  color: #ccc !important; 
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  font-family: 'Montserrat', sans-serif;
}

@keyframes fade-out-and-shrink {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

.animate-jori {
  animation: fade-out-and-shrink 1s forwards;
}